node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
out/
pom.xml
.idea/
*.iml

# Shadow-CLJS outputs
app/
.shadow-cljs/
.nrepl-port

# Android outputs
android/.gradle
android/build

# iOS outputs
ios/DerivedData
ios/Index
ios/build
ios/scout.xcodeproj/project.xcworkspace
ios/scout.xcodeproj/xcuserdata

